<!doctype html>
<html lang="en">
    <head>
        <title>PersonalBudget - online budgeting app</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="shortcut icon" type="image/png" href="/img/logo.png">
    </head>
    <body style="background: url('/img/dark-bg.jpg'); background-size: cover; overflow: hidden;">
       
        <div style="padding-top: 3vh">
        <div th:if="${param.logout} != null" class="alert alert-success text-center" style="width: auto; margin: 0 auto; display: table;">
            You have been logged out.
        </div>
        </div>
        
        <div style="padding-top: 1vh; padding-bottom: svh;">
        <div th:if="${param.error} != null" class="alert alert-danger text-center" style="width: auto; margin: 0 auto; display: table;">
            Username or password is invalid.
        </div>
        </div>
        
        <div style="padding-top: 1vh; padding-bottom: svh;">
        <div th:if="${error} != null" class="alert alert-danger text-center" style="width: auto; margin: 0 auto; display: table;">
            <span th:text="${error}"></span>
        </div>
        </div>
        
        <div style="padding-top: 1vh; padding-bottom: 5vh;">
        <div th:if="${message} != null" class="alert alert-success text-center" style="width: auto; margin: 0 auto; display: table;">
            <span th:text="${message}"></span>
        </div>
        </div>
        
        
        <div class="l-container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" id="loginContainer">
                    <div class="card-header">
                            <h3>Sign In</h3>
                    </div>
                    <div class="card-body" id="main">
                            <form th:action="'/authenticateUser'" method="POST">
                                    <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="/img/icons/user-icon.png" height="20px"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="username" name="username">

                                    </div>
                                    <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text"><img src="/img/icons/lock-icon.png" height="20px"></span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="password" name="password">                                                
                                    </div>

                                    <div class="login-additional-link" th:unless="${param.error} == null AND ${error} == null">
                                        <a onclick="showRecoverAccountOptions()">Problems logging in?</a>
                                    </div>

                                    <div class="form-group" style="margin-top: 5vh;">
                                            <input type="submit" value="Login" class="btn float-right login_btn">
                                    </div>
                            </form>
                    </div>
                    <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                    Don't have an account?<a href="/signup">Sign Up</a>
                            </div>
                    </div>
		</div>
            
            
            
                <div class="card hidden" id="recoveryOptions">
                    <div class="card-body">                                   
                        <div class="form-group" style="margin-top: 5vh;">
                                <input type="submit" value="Reset password" class="btn login_btn_gray"  style="width: 100%; margin-top: 20px;" onclick="showResetPasswordForm()">
                        </div>

                        <div class="form-group" style="margin-top: 5vh;">
                                <input type="submit" value="Resend activation e-mail" class="btn login_btn_gray" style="width: 100%; margin-top: -30px;" onclick="showResentActivationMailForm()">
                        </div>
                    </div>
                    <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                    <a class="login-go-back-link" onclick="showLoginContainer()">Go back to login page</a>
                            </div>
                    </div>
		</div>
            
            
            
                <div class="card hidden" id="resendActivationEmail">
                        <div class="card-header">
                                <h3 style="margin-bottom: 40px;">RESEND ACTIVATION LINK</h3>
                        </div>
                        <div class="card-body">
                            <form th:action="'/resendActivationLink'" method="POST">
                                    <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="/img/icons/user-icon.png" height="20px"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="username" name="username">
                                    </div>

                                    <div class="form-group" style="margin-top: 5vh;">
                                            <input type="submit" value="Send" class="btn float-right login_btn">
                                    </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                    <a class="login-go-back-link" onclick="showRecoverAccountOptions()">Go back to account recovery options</a>
                            </div>
                        </div>
                </div>



                <div class="card hidden" id="resetPassword">
                        <div class="card-header">
                                <h3>RESET PASSWORD</h3>
                        </div>
                        <div class="card-body">
                            <form th:action="'/resetPassword'" method="POST">
                                <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><img src="/img/icons/user-icon.png" height="20px"></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="username" name="username">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="/img/icons/email-icon.png" height="20px"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="e-mail address" name="email">
                                </div>

                                <div class="form-group" style="margin-top: 5vh;">
                                        <input type="submit" value="Reset" class="btn float-right login_btn">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                                <div class="d-flex justify-content-center links">
                                        <a class="login-go-back-link" onclick="showRecoverAccountOptions()">Go back to account recovery options</a>
                                </div>
                        </div>
                </div>
            
            </div>
        </div>
              
        
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/scripts/globalscripts.js"></script>
    
    <script>        
        function showRecoverAccountOptions() {
           $("#loginContainer").addClass("hidden");
           $("#recoveryOptions").removeClass("hidden");
           $("#resendActivationEmail").addClass("hidden");
           $("#resetPassword").addClass("hidden");
        }
        
        function showLoginContainer() {
           $("#loginContainer").removeClass("hidden");
           $("#recoveryOptions").addClass("hidden");
        }
        
        function showResentActivationMailForm() {            
          $("#resendActivationEmail").removeClass("hidden");
          $("#recoveryOptions").addClass("hidden");
        }
        
        function showResetPasswordForm() {
          $("#resetPassword").removeClass("hidden");  
          $("#recoveryOptions").addClass("hidden");
        }
    </script>
            
    </body>
</html>
