<!doctype html>
<html lang="en">
    <head>
        <title>PersonalBudget - online budgeting app</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="shortcut icon" type="image/png" href="/img/logo.png">
    </head>
    <body style="background: url('/img/dark-bg.jpg'); background-size: cover; overflow: hidden;">
          
         
        <div style="padding-top: 2vh; padding-bottom: 5vh;">
        <div th:if="${message} != null" class="alert alert-danger text-center" style="width: auto; margin: 0 auto; display: table;">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${error} != null" class="alert alert-danger text-center" style="width: auto; margin: 0 auto; display: table;">
            <span th:text="${error}"></span>
        </div>
        </div>
        
        
        <div class="l-container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="height: 370px;">
			<div class="card-header">
				<h3>Create your account</h3>
			</div>
			<div class="card-body">
				<form th:action="'/signup'" th:object="${userForm}" method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
                                                    <span class="input-group-text"><img src="/img/icons/user-icon.png" height="20px"></span>
						</div>
						<input type="text" class="form-control" placeholder="username" name="username">
						
					</div>
                                        <div class="input-group form-group">
						<div class="input-group-prepend">
                                                    <span class="input-group-text"><img src="/img/icons/email-icon.png" height="20px"></span>
						</div>
						<input type="text" class="form-control" placeholder="e-mail address" name="email">						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img src="/img/icons/lock-icon.png" height="20px"></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="password">
					</div>
                                        <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img src="/img/icons/lock-icon.png" height="20px"></span>
						</div>
						<input type="password" class="form-control" placeholder="confirm your password" name="repeatPassword">
					</div>
					<div class="form-group" style="margin-top: 5vh;">
						<input type="submit" value="Register" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Already have an account?<a href="/loginPage">Sign in</a>
				</div>
			</div>
		</div>
                </div>
        </div>
        
        
        
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/scripts/globalscripts.js"></script>
            
    </body>
</html>
